
.post-dialog-image-container {
    position: relative;
    width: 57%;
}

.post-image {
    position: absolute;
    width: 100%;
    padding: 16px;
    height: 83vh;

 }

.post-dialog-container {
    height: 83vh;
    width: 65vw;
    overflow-x: hidden;
    overflow-y: hidden;

}

.post-dialog-details-container {
    position: relative;
    width: 38%;
  height: 100%;
}

.post-content {
    width: 100%;
    margin-left: 155%;
    height: 95%;
}

.comment-list {
    overflow: scroll;
    height: 45vh;
    overflow-x: hidden;
    margin-top: 1em;
}

.modal-container {
  width: 100%;
}
