<div class="post-dialog-container" fxLayout='row' fxLayoutGap='10px'>
    <div class="modal-container">
        <div class="post-dialog-image-container" fxFlexAlign="start">

            <img mat-card-image [src]="post.image.directLink" class="post-image" />

        </div>

        <div class="post-dialog-details-container" fxFlexAlign="end">
            <mat-card class="post-content">
                <div class="mat-header-container modal-title" [routerLink]="['/users', post.author.username]"
                    style="cursor: pointer;">
                    <mat-card-header>
                        <img mat-card-avatar [src]="post.author.avatar" />
                        <mat-card-title (click)='onNoClick()'>
                            {{ post.author.username }}
                        </mat-card-title>
                    </mat-card-header>
                </div>
                <div class="mat-card-content-wrapper modal-desc">
                    <mat-card-content>
                        {{ post.description }}
                    </mat-card-content>
                </div>


                <div class="mat-card-actions-wrapper">
                    <mat-card-actions>

                        <app-like-post (likePost)="likePost()" (dislikePost)="dislikePost()"
                            [liked]="likedByLoggedUser | async" [likesCount]='post.likesCount'>

                        </app-like-post>

                        <button mat-button>
                            <mat-icon [matBadge]='post.commentsCount' matBadgePosition='before' matBadgeOverlap='false'>
                                chat
                            </mat-icon>
                            <span fxHide.lt-sm>Comments</span>
                        </button>
                    </mat-card-actions>
                </div>

                <app-create-comment #createComment (commentCreated)="addComment($event)" [postId]="post.id"></app-create-comment>

                <div class="comment-list" [style.overflow-y]="commentsOverflow()">

                    <app-comment class="comment-info" *ngFor="let singleComment of post.comments"
                        [comment]="singleComment">
                    </app-comment>

                </div>
            </mat-card>
        </div>
    </div>
</div>
