<div class="app-register-container">
    <mat-card>
        <mat-card-title>Register</mat-card-title>
        <mat-card-content>
            <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
                <p>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Username" autocomplete="username"
                            formControlName="username" (focus)="onFocusUsername()" />
                    </mat-form-field>
                    <mat-error *ngIf="
                this.usernameControl.hasError('required') &&
                this.usernameControl.touched
              ">
                        Username is required
                    </mat-error>
                    <mat-error *ngIf="
                this.usernameControl.hasError('minlength') &&
                this.usernameControl.touched
              ">
                        Username must be at least
                        {{ this.usernameControl.getError("minlength").requiredLength }}
                        characters long
                    </mat-error>
                    <mat-error *ngIf="
                this.usernameControl.hasError('maxlength') &&
                this.usernameControl.touched
              ">
                        Username cannot be longer than
                        {{ this.usernameControl.getError("maxlength").requiredLength }}
                        characters long
                    </mat-error>
                </p>

                <p>
                    <mat-form-field>
                        <input matInput type="email" placeholder="Email" autocomplete="email" formControlName="email"
                            (focus)="onFocusEmail()" />
                    </mat-form-field>
                    <mat-error *ngIf="
                this.emailControl.hasError('required') &&
                this.emailControl.touched
              ">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="
                this.emailControl.hasError('minlength') &&
                this.emailControl.touched
              ">
                        Email must be at least
                        {{ this.emailControl.getError("minlength").requiredLength }}
                        characters long
                    </mat-error>
                    <mat-error *ngIf="
                this.emailControl.hasError('maxlength') &&
                this.emailControl.touched
              ">
                        Email cannot be longer than
                        {{ this.emailControl.getError("maxlength").requiredLength }}
                        characters long
                    </mat-error>
                </p>

                <p>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Password" autocomplete="current-password"
                            formControlName="password" (focus)="onFocusPassword()" />
                    </mat-form-field>
                    <mat-error *ngIf="
                this.passwordControl.hasError('required') &&
                this.passwordControl.touched
              ">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="
                this.passwordControl.hasError('minlength') &&
                this.passwordControl.touched
              ">
                        Password must be at least
                        {{ this.passwordControl.getError("minlength").requiredLength }}
                        characters long
                    </mat-error>
                    <mat-error *ngIf="
                this.passwordControl.hasError('maxlength') &&
                this.passwordControl.touched
              ">
                        Password cannot be longer than
                        {{ this.passwordControl.getError("maxlength").requiredLength }}
                        characters long
                    </mat-error>
                    <mat-error *ngIf="
                this.passwordControl.hasError('pattern') &&
                this.passwordControl.touched
              ">
                        The password must be minimum eight characters, at least one
                        lowercase letter, one uppercase letter and one number,
                    </mat-error>
                </p>

                <p>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Confirm Password" autocomplete="current-password"
                            formControlName="passwordConfirm" (focus)="onFocusPasswordConfirm()" />
                    </mat-form-field>
                    <mat-error *ngIf="
                this.passwordConfirmControl.hasError('required') &&
                this.passwordConfirmControl.touched
              ">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="
                this.regForm.hasError('passwordNotConfirmed') &&
                this.passwordConfirmControl.touched
              ">
                        Passwords must match
                    </mat-error>
                </p>

                <div class="form-group">
                    <button mat-raised-button [disabled]="!this.regForm.valid">
                        <span *ngIf="loading"></span>
                        Register
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>