<form class="search-wrapper">
  <mat-form-field class="search-form-field" floatLabel="always">
    <input
      matInput
      placeholder="Search"
      [matAutocomplete]="showUser"
      [formControl]="search"
      class="search-box"
      (keyup.enter)="goToSearch()"
    />
    <a class="search" (click)="goToSearch()">
      <mat-icon class="mat-icon">
        search
      </mat-icon>
    </a>

    <mat-autocomplete #showUser="matAutocomplete">
      <mat-option
        fxLayout="row"
        fxLayoutAlign="flex-start center"
        *ngFor="let user of filteredUsers$ | async | slice: 0:5"
        [value]="user.username"
        [routerLink]="['/users', user.username, 'posts']"
      >
        <div class="autocomplete-option-container">
          <img [src]="user.avatar" class="autocomplete-user-avatar" />
          <span>{{ user.username }}</span>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
