<div class="upload-avatar-wrapper">
  <form [formGroup]="changeAvatarForm" gdAuto="row" gdGap="10px">
    <div
      class="upload-avatar-container"
      (click)="fileInput.click()"
      *ngIf="!imageCropperFile"
    >
      <mat-icon class="upload-icon">cloud_upload</mat-icon>
      <button mat-raised-button class="upload-avatar-button">
        Upload image
      </button>
      <p class="upload-drop-content">
        Drag and drop image (2MB / .jpg, .jpeg, .png allowed)
      </p>
      <p class="upload-drop-content">
        <mat-error *ngFor="let error of changeAvatarForm.errors">
          {{ error.message }}
        </mat-error>
      </p>
      <!-- <p class="upload-drop-content">
        <mat-error
          *ngFor="let error of changeAvatarForm.controls['avatar']?.errors"
        >
          {{ error.message }}
        </mat-error>
      </p> -->
    </div>
    <div class="avatar-cropper-container" *ngIf="imageCropperFile">
      <angular-cropper
        #angularCropper
        [cropperOptions]="cropperConfig"
        [imageUrl]="imageCropperUrl"
      ></angular-cropper>
    </div>
    <input
      hidden
      type="file"
      #fileInput
      (change)="uploadedImage($event.target.files[0])"
    />
    <button
      mat-raised-button
      (click)="uploadAvatar()"
      [disabled]="!changeAvatarForm.valid"
    >
      Change Avatar
    </button>
  </form>
</div>
