.upload-avatar-container {
  border: 2px dashed rgba(0, 0, 0, 0.24);
  padding: 80px 20px;
  cursor: pointer;
}

.upload-drop-content {
  text-align: center;
}

.upload-icon {
  display: block;
  margin: auto;
  transform: scale(3);
  margin-bottom: 1em;
}

.upload-avatar-button {
  display: block;
  margin: auto;
}
