.notifications-container {
  min-width: 280px;
}

.notifications-empty {
  text-align: center;
  font-size: 1.5em;
}

.notification-details-container {
  margin: 0 5px;
  cursor: pointer;
}

.notification-avatar-container {
  width: 100%;
  height: 100%;
}

.notification-author-avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.notification-content-container {
  display: inline-block;
  align-self: center;
  text-align: center;
  overflow: hidden;
  word-break: break-word;
}

.notification-content-container > span {
  font-size: 0.9em;
  margin-right: 3px;
}

.notification-post-container {
  cursor: pointer;
  align-self: center;
}

.notification-post-image {
  width: 90%;
  height: 90%;
  border-radius: 5%;
}

.notifications-spinner {
  width: 2em;
  margin: auto;
}

.notifications-bottom {
  text-align: center;
}
