<div
  infiniteScroll
  [infiniteScrollDistance]="infiniteScrollDistance"
  [infiniteScrollThrottle]="infiniteScrollThrottle"
  alwaysCallback="false"
  (scrolled)="onScroll()"
  class="notifications-container"
  fxLayout="column"
  fxLayoutGap="2px"
>
  <div
    class="notifications-empty"
    *ngIf="(notifications && !notifications.length) || !notifications"
  >
    No notifications
  </div>
  <div
    class="notification-container"
    *ngFor="let notification of notifications"
    [ngClass]="{ 'notification-not-read': notification.status === 'unread' }"
    (click)="readNotification(notification)"
  >
    <div
      gdAreas="avatar content post"
      gdColumns="25% 50% auto"
      class="notification-details-container"
    >
      <div
        class="notification-avatar-container"
        [routerLink]="['/users', notification.notificationAuthor.username]"
        [style]="notification.status === 'read'"
      >
        <img
          [src]="notification.notificationAuthor.avatar"
          class="notification-author-avatar"
        />
      </div>
      <div
        class="notification-content-container"
        [routerLink]="[
          '/users',
          (loggedUser$ | async).username,
          'notifications'
        ]"
      >
        <span
          [routerLink]="[
            '/users',
            notification.notificationAuthor.username,
            'notifications'
          ]"
          style="font-weight: bold;"
          >{{ notification.notificationAuthor.username }}</span
        >
        <span *ngIf="notification.type === 'like'">liked your post</span>
      </div>
      <div
        class="notification-post-container"
        (click)="openDialog(notification.post.id)"
      >
        <img
          *ngIf="notification.type === 'like'"
          [src]="notification.post.image.directLink"
          class="notification-post-image"
        />
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="non-portable" *ngIf="!portable">
    <div
      class="notifications-spinner"
      *ngIf="!(notificationsRequestEnd && notificationsQueryEnd)"
    >
      <mat-spinner></mat-spinner>
    </div>
    <div
      class="notifications-bottom"
      *ngIf="notificationsRequestEnd && notificationsQueryEnd && !loading"
    >
      no more notifications
    </div>
  </div>
</div>
