<div class="navigation-container">
  <div class="navbar-container">
    <mat-toolbar color="primary">
      <div
        ngClass.gt-sm="toolbar-container"
        ngClass.lt-md="toolbar-container-md"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <div
          class="searchbar-container"
          fxFlex.lt-md="2 0 auto"
          fxLayout="row"
          fxLayoutAlign="flex-start center"
          fxLayoutGap="2vw"
        >
          <div class="toolbar-logo-container">
            <a [routerLink]="['explore']" class="toolbar-logo">
              <img
                src="assets/logo.png"
                alt="Social Application"
                class="toolbar-logo-img"
              />
            </a>
          </div>
          <app-searchbar class="searchbar"></app-searchbar>
        </div>

        <button
          fxFlexOrder="3"
          fxFlexAlign="center"
          mat-icon-button
          (click)="sidenav.toggle()"
          fxHide="true"
          fxShow.lt-md="true"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <nav
          mat-tab-nav-bar
          fxFlexOrder="1"
          fxFlex="0 1 auto"
          backgroundColor="primary"
          fxShow="true"
          fxHide.lt-md="true"
        >
          <ng-template ng-template ngFor let-navTab [ngForOf]="routeLinks">
            <!-- *ngFor="let navTab of routeLinks" -->
            <a
              mat-tab-link
              [routerLink]="navTab.link"
              routerLinkActive="active-link"
              #rla="routerLinkActive"
              *ngIf="navTab.showIfLogged || !logged"
            >
              <mat-icon>{{ navTab.icon }}</mat-icon>
              {{ navTab.label }}
            </a>
          </ng-template>
        </nav>

        <button
          mat-icon-button
          *ngIf="logged"
          fxFlexOrder="2"
          [matBadge]="unreadNotificationsCount$ | async"
          [matBadgeHidden]="!(unreadNotificationsCount$ | async)"
          matBadgePosition="above before"
          matBadgeColor="accent"
          [matMenuTriggerFor]="notifications"
          fxHide.lt-sm
        >
          <mat-icon *ngIf="!(unreadNotificationsCount$ | async)"
            >notifications</mat-icon
          ><mat-icon *ngIf="unreadNotificationsCount$ | async"
            >notifications_active</mat-icon
          >
        </button>
        <mat-menu #notifications="matMenu" xPosition="before">
          <app-notifications
            [notifications]="notifications$ | async"
            [portable]="true"
          ></app-notifications>
        </mat-menu>

        <span class="app-toolbar-spacer"></span>
        <span class="app-toolbar-spacer"></span>
        <button
          color="primary"
          fxFlex="1 0 auto"
          fxFlexOrder="2"
          fxHide="true"
          fxShow.lt-sm="true"
          class="nav-auth-btn"
          *ngIf="!logged"
          mat-raised-button
          [routerLink]="['auth']"
        >
          <mat-icon>vpn_key</mat-icon>
        </button>

        <a
          fxFlex="0 1 auto"
          fxFlexOrder="5"
          *ngIf="logged"
          class="nav-user-link"
          fxShow="true"
          fxHide.lt-md="true"
        >
          <button
            mat-flat-button
            color="primary"
            disableRipple="true"
            class="nav-profile-btn"
            [matMenuTriggerFor]="afterMenu"
          >
            <img
              [src]="currentUser.avatar"
              [alt]="currentUser.username"
              class="nav-user-avatar"
            />
            {{ currentUser.username }}
          </button>
          <mat-menu #afterMenu="matMenu" xPosition="after">
            <button
              mat-menu-item
              [routerLink]="['/users', currentUser.username]"
            >
              Profile
            </button>
            <button mat-menu-item (click)="switchLight()">
              <mat-icon>wb_sunny</mat-icon>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="this.logout()">Logout</button>
          </mat-menu>
        </a>
      </div>
    </mat-toolbar>
  </div>

  <div class="nav-drawer">
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav
        #sidenav
        fixedInViewport="true"
        fixedTopGap="0"
        fixedBottomGap="0"
      >
        <div class="nav-menu-drawer-list">
          <mat-card class="nav-drawer-profile-card" *ngIf="logged">
            <a
              [routerLink]="['users', currentUser.username]"
              (click)="sidenav.toggle()"
            >
              <img
                mat-card-image
                class="nav-drawer-profile-image"
                [src]="currentUser.avatar"
              />
              <mat-card-title class="nav-drawer-profile-username">
                {{ currentUser.username }}
              </mat-card-title>
            </a>
            <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
              <button
                mat-button
                [routerLink]="['users', currentUser.username]"
                (click)="sidenav.toggle()"
              >
                Profile
              </button>
              <button
                mat-button
                [routerLink]="['users', currentUser.username, 'settings']"
                (click)="sidenav.toggle()"
              >
                Settings
              </button>
            </mat-card-actions>
          </mat-card>
          <mat-nav-list>
            <ng-template ng-template ngFor let-route [ngForOf]="routeLinks">
              <a
                mat-list-item
                [routerLink]="route.link"
                (click)="sidenav.toggle()"
                *ngIf="route.showIfLogged || !logged"
              >
                <mat-icon>{{ route.icon }}</mat-icon>
                {{ route.label }}
              </a>
            </ng-template>
            <a
              (click)="logout()"
              (click)="sidenav.toggle()"
              mat-list-item
              *ngIf="logged"
            >
              <mat-icon>exit_to_app</mat-icon> Logout
            </a>
            <a (click)="sidenav.toggle()" mat-list-item>
              <mat-icon>close</mat-icon> Close
            </a>
          </mat-nav-list>
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
        <ng-content></ng-content>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
