/* .app-toolbar-spacer {
  flex: 1 1 auto;
} */

.nav-profile-btn {
  height: 100%;
}

.nav-auth-btn {
  max-width: 50px;
}

img.nav-user-avatar {
  height: 30px;
  width: 30px;
  border-radius: 100px;
}

.nav-user-welcome {
  color: white;
  border: none;
  text-decoration-line: none;
}

.navigation-container {
  height: 100vh;
}

.navbar-container .mat-icon {
  color: rgb(245, 245, 245);
}

.toolbar-container {
  width: 100%;
  height: 100%;
  max-width: 1110px;
  margin: auto;
}

.toolbar-container-md {
  width: 100%;
  height: 100%;
  max-width: 600px;
  margin: auto;
}

.toolbar-logo-container {
  align-self: center;
}

.toolbar-logo-img {
  width: 34px;
  height: 34px;
}

.nav-drawer-profile-image {
  border-radius: 100px;
}

.nav-drawer-profile-card {
  max-width: 200px;
}

.nav-drawer-profile-username {
  text-align: center;
}

.navbar-container {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

a {
  text-decoration: none;
  color: white;
}

.nav-menu-drawer-list {
  margin-top: 54px;
}

.mat-menu-content {
  width: 280px;
}
