<button mat-button *ngIf="!liked" (click)="like()">
    <mat-icon [matBadge]='likesCount' matBadgePosition='before' matBadgeOverlap='false'>
        favorite_border
    </mat-icon>
    <span fxHide.lt-sm>Like</span>
</button>

<button mat-button *ngIf="liked" (click)="dislike()">
    <mat-icon [matBadge]='likesCount' matBadgePosition='before' matBadgeOverlap='false'>
        favorite
    </mat-icon>
    <span fxHide.lt-sm>Dislike</span>
</button>