<div class="search-container" fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="center stretch">
  <div
    class="search-user-details-container"
    *ngFor="let singleUser of filteredUsers | async"
  >
    <app-profile-details
      [user]="singleUser"
      (click)="goToDetail(singleUser)"
    ></app-profile-details>
  </div>
</div>
