<div *ngIf="this.comment" class="comment-info">
  <mat-card class="comment-card">
    <div class="header-container">
      <mat-card-header
        class="mat-header-container"
        [routerLink]="['/users', comment.author.username]"
      >
        <img
          mat-card-avatar
          [src]="comment.author.avatar"
          class="user-avatar"
        />
        <mat-card-title class="comment-author">
          <span class="author">
            {{ comment.author.username }}
          </span>
        </mat-card-title>
      </mat-card-header>

      <div>
        <button
          mat-button
          color="primary"
          *ngIf="loggedUserIsAuthor | async"
          (click)="removeComment()"
        >
          <i class="material-icons">
            clear
          </i>
        </button>
      </div>
    </div>

    <mat-card-subtitle class="comment-subtitle">
      <div class="content">
        <span *ngIf="!commentEditMode" class="comment-content">
          {{ comment.content }}
        </span>
        <textarea
          #commentEditField
          [cdkTextareaAutosize]="true"
          *ngIf="commentEditMode"
          matInput
          type="text"
          [formControl]="commentContent"
          (keydown.enter)="onKeydown($event)"
          (keyup.enter)="updateComment()"
          (keyup.esc)="cancelEditComment()"
          style="overflow: hidden; margin-bottom: 12px;"
        ></textarea>
        <mat-hint *ngIf="commentContent?.value?.length && commentEditMode" align="end"
          >{{ commentContent.value?.length || 0 }}/1000</mat-hint
        >
      </div>
    </mat-card-subtitle>

    <mat-card-actions class="comment-actions">
      <button
        mat-flat-button
        *ngIf="!commentEditMode && loggedUserIsAuthor | async"
        (click)="editComment()"
      >
        Edit
      </button>
      <button
        mat-flat-button
        *ngIf="commentEditMode && loggedUserIsAuthor | async"
        [disabled]="commentContent?.value?.lenght"
        (click)="updateComment()"
      >
        Save
      </button>
      <button
        mat-button
        color="primary"
        *ngIf="commentEditMode && loggedUserIsAuthor | async"
        (click)="cancelEditComment()"
      >
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</div>
