.comment-author {
  font-size: 16px;
  margin-top: 10px;
}

.author {
  margin-bottom: 12px;
}

.mat-header-container {
  margin-bottom: 10px;
  cursor: pointer;
}

.comment-info {
  margin: 1em;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.comment-subtitle {
  word-break: break-all;
}

.comment-actions {
  display: inline;
  display: flex;
  justify-content: space-between;
}
