<div class="app-container mat-app-background">
  <app-navbar>
    <div
      class="app-content-container"
      [ngStyle.lt-sm]="{ 'padding-top': '10px' }"
    >
      <router-outlet></router-outlet>
    </div>
  </app-navbar>
</div>
