.post-container {
  margin-bottom: 20px;
}

.mat-card-actions-wrapper {
  margin: 10px;
}

.mat-header-container {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.post-image {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
}

.card-image-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  cursor: pointer;
}

.card-content {
  overflow-wrap: break-word;
}

.post-more-actions {
 display: inline-block;
}
