<div class="post-container">
  <mat-card>
    <div class="mat-header-container">
      <mat-card-header
        [routerLink]="['/users', post.author.username]"
        style="cursor: pointer;"
      >
        <img mat-card-avatar [src]="post.author.avatar" />
        <mat-card-title>
          {{ post.author.username }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ post.createdOn | dateAgo }}
        </mat-card-subtitle>
      </mat-card-header>
      <div class="post-more-actions">
        <button mat-icon-button [matMenuTriggerFor]="moreActions">
          <mat-icon>
            keyboard_arrow_down
          </mat-icon>
        </button>
        <mat-menu #moreActions="matMenu" xPosition="after">
          <button
            mat-flat-button
            *ngIf="loggedUserIsAuthor | async"
            (click)="removePost()"
          >
            Remove post
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="mat-card-content-wrapper">
      <mat-card-content class="card-content">
        {{ post.description }}
      </mat-card-content>
    </div>
    <div
      class="card-image-container"
      (click)="openPostDialog()"
      [style.cursor]="canOpenDialog ? 'pointer' : 'auto'"
    >
      <img mat-card-image [src]="post.image.directLink" class="post-image" />
    </div>
    <div class="mat-card-actions-wrapper">
      <mat-card-actions>
        <!-- <button mat-button>
          <mat-icon (click)="like()">
            favorite
          </mat-icon>
          Like

        </button> -->

        <app-like-post
          (likePost)="likePost()"
          (dislikePost)="dislikePost()"
          [liked]="likedByLoggedUser | async"
          [likesCount]="post.likesCount"
        >
        </app-like-post>

        <button mat-button>
          <mat-icon
            [matBadge]="post.commentsCount"
            matBadgePosition="before"
            matBadgeOverlap="false"
          >
            chat
          </mat-icon>
          <span fxHide.lt-sm>Comments</span>
        </button>
      </mat-card-actions>
    </div>

    <app-create-comment
      (commentCreated)="addComment($event)"
      [postId]="post.id"
    ></app-create-comment>

    <div class="comment-list">
      <app-comment
        class="comment-info"
        *ngFor="let singleComment of post.comments | slice: 0:3"
        [comment]="singleComment"
      >
      </app-comment>
    </div>
  </mat-card>
</div>
