<div
  class="dashboard-container"
  gdAlignColumns="space-between stretch"
  gdGap="16px"
  gdGap.xs="4px"
  gdAreas="details main suggestions"
  gdAreas.xs="details | suggestions | main"
  gdColumns="30% 60% auto"
  gdColumns.xs="auto"
>
  <div
    class="profile-details-container"
    gdArea="details"
    gdGridAlign="streched streched"
  >
    <div class="profile-details">
      <app-profile-details
        [owner]="profileOwner"
        [user]="loggedUser | async"
      ></app-profile-details>
    </div>
  </div>
  <div class="dashboard-content" gdArea="main" gdGridAlign="stretch stretch">
    <div class="create-post-panel">
      <mat-expansion-panel #createPostPanel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>
              edit
            </mat-icon>
          </mat-panel-title>
          <mat-panel-description>
            Create post
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-create-post
          #createPostComponent
          (createdPost)="createPost($event)"
        ></app-create-post>
      </mat-expansion-panel>
    </div>
    <app-posts-list
      [posts]="posts$ | async"
      (postsOnScroll)="postsOnScroll()"
      [loading]="requestLoading$ | async"
      [postEnd]="(postRequestEnd$ | async) && (postsQueryEnd$ | async)"
    ></app-posts-list>
  </div>
</div>
