<div class="profile-settings-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Avatar
        </mat-panel-title>
        <mat-panel-description>
          Change avatar
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-upload-avatar
        #uploadAvatar
        (changeAvatar)="changeAvatar($event)"
      ></app-upload-avatar>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Theme
        </mat-panel-title>
        <mat-panel-description>
          Change theme
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-slide-toggle
        labelPosition="before"
        [checked]="darkTheme$ | async"
        (change)="toggleDark()"
        >Dark theme</mat-slide-toggle
      >
      <div class="themes-container">
        <div class="theme-button-container" *ngFor="let themeButton of themes">
          <button mat-raised-button (click)="changeTheme(themeButton)">
            {{ themeButton.split('_').join(' ') }}
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
