$base-workwise-orange: (
  50: #fceae7,
  100: #f7cac4,
  200: #f2a79d,
  300: #ec8375,
  400: #e86958,
  500: #e44e3a,
  600: #e14734,
  700: #dd3d2c,
  800: #d93525,
  900: #d12518,
  A100: #ffffff,
  A200: #ffd4d1,
  A400: #ffa39e,
  A700: #ff8b85,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$base-workwise-magenta: (
  50: #fbe2ec,
  100: #f6b7d1,
  200: #f087b2,
  300: #ea5693,
  400: #e6327b,
  500: #e10e64,
  600: #dd0c5c,
  700: #d90a52,
  800: #d50848,
  900: #cd0436,
  A100: #fff5f7,
  A200: #ffc2ce,
  A400: #ff8fa5,
  A700: #ff7590,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  ),
);
$base-upnetix-blue: (
  50: #e5f4fb,
  100: #bfe3f4,
  200: #94d1ed,
  300: #69bee6,
  400: #48b0e0,
  500: #28a2db,
  600: #249ad7,
  700: #1e90d2,
  800: #1886cd,
  900: #0f75c4,
  A100: #f1f9ff,
  A200: #bee0ff,
  A400: #8bc8ff,
  A700: #72bcff,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  ),
);
$base-upnetix-green: (
  50: #e0f2e5,
  100: #b3e0bd,
  200: #80cb92,
  300: #4db666,
  400: #26a645,
  500: #009624,
  600: #008e20,
  700: #00831b,
  800: #007916,
  900: #00680d,
  A100: #97ff9d,
  A200: #64ff6d,
  A400: #31ff3d,
  A700: #18ff25,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  ),
);
