<div
  gdAlignColumns="space-between stretch"
  gdGap="16px"
  gdGap.xs="4px"
  gdGap.sm="6px"
  gdAreas="details main navigation"
  gdAreas.xs="details | main"
  gdColumns="auto 60% auto"
  gdColumns.sm="25% 50% auto"
  gdColumns.xs="auto"
  class="profile-container"
>
  <div
    gdArea="details"
    gdGridAlign="streched streched"
    ngStyle.xs="width: 100vw"
    class="profile-details"
  >
    <app-profile-details
      [owner]="isProfileOwner$ | async"
      [user]="user$ | async"
    ></app-profile-details>
  </div>

  <div
    gdArea="main"
    gdGridAlign="stretch stretch"
    ngStyle.xs="width: 100vw"
    class="profile-main"
  >
    <router-outlet></router-outlet>
  </div>

  <div
    gdArea="navigation"
    gdGridAlign="stretch start"
    fxHide.xs
    class="profile-navigation"
  >
    <div class="profile-navigation-container">
      <mat-card>
        <mat-nav-list>
          <a
            mat-list-item
            *ngIf="isProfileOwner$ | async"
            [routerLink]="['./create-post']"
            routerLinkActive="active-link"
          >
            <mat-icon mat-list-icon>create</mat-icon>
            Create post
          </a>
          <a
            mat-list-item
            [routerLink]="['./posts']"
            routerLinkActive="active-link"
          >
            <mat-icon mat-list-icon>collections</mat-icon>
            Posts
          </a>
          <a
            mat-list-item
            [routerLink]="['followers']"
            routerLinkActive="active-link"
          >
            <mat-icon mat-list-icon>people</mat-icon>
            Followers
          </a>
          <a
            mat-list-item
            [routerLink]="['following']"
            routerLinkActive="active-link"
          >
            <mat-icon mat-list-icon class="icon-flipped">people</mat-icon>
            Following
          </a>
          <a
            mat-list-item
            *ngIf="isProfileOwner$ | async"
            [routerLink]="['notifications']"
            routerLinkActive="active-link"
          >
            <mat-icon mat-list-icon>notifications</mat-icon>
            Notifications
          </a>
          <a
            mat-list-item
            *ngIf="isProfileOwner$ | async"
            [routerLink]="['settings']"
            routerLinkActive="active-link"
          >
            <mat-icon mat-list-icon>settings</mat-icon>
            Settings
          </a>
        </mat-nav-list>
      </mat-card>
    </div>
  </div>
</div>
