<div class="app-login-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-error *ngIf="error">
          {{ error }}
        </mat-error>
        <p>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Username"
              autocomplete="username"
              formControlName="username"
              (focus)="onFocusUsername()"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              this.usernameControl.hasError('required') &&
              this.usernameControl.touched
            "
          >
            Username is required
          </mat-error>
          <mat-error
            *ngIf="
              this.usernameControl.hasError('minlength') &&
              this.usernameControl.touched
            "
          >
            Username must be at least
            {{ this.usernameControl.getError('minlength').requiredLength }}
            characters long
          </mat-error>
          <mat-error
            *ngIf="
              this.usernameControl.hasError('maxlength') &&
              this.usernameControl.touched
            "
          >
            Username cannot be longer than
            {{ this.usernameControl.getError('maxlength').requiredLength }}
            characters long
          </mat-error>
        </p>

        <p>
          <mat-form-field>
            <input
              type="password"
              matInput
              placeholder="Password"
              autocomplete="current-password"
              formControlName="password"
              (focus)="onFocusPassword()"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              this.passwordControl.hasError('required') &&
              this.passwordControl.touched
            "
          >
            Password is required
          </mat-error>
          <mat-error
            *ngIf="
              this.passwordControl.hasError('minlength') &&
              this.passwordControl.touched
            "
          >
            Password must be at least
            {{ this.passwordControl.getError('minlength').requiredLength }}
            characters long
          </mat-error>
          <mat-error
            *ngIf="
              this.passwordControl.hasError('maxlength') &&
              this.passwordControl.touched
            "
          >
            Password cannot be longer than
            {{ this.passwordControl.getError('maxlength').requiredLength }}
            characters long
          </mat-error>
          <mat-error
            *ngIf="
              this.passwordControl.hasError('pattern') &&
              this.passwordControl.touched
            "
          >
            The password must be minimum eight characters, at least one
            lowercase letter, one uppercase letter and one number,
          </mat-error>
        </p>
        <mat-checkbox formControlName="rememberMe" class="form-remember-cb"
          >Remember me</mat-checkbox
        >
        <div class="form-group">
          <button mat-raised-button [disabled]="!this.loginForm.valid">
            <span *ngIf="loading"></span>
            Login
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
