.app-login-container form {
    max-width: 300px;
  }

  :host {
    display: flex;
    justify-content: center;
    margin: 0px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  .mat-error {
    margin-top: 0.5em;
    border-bottom: 0.05em solid rgba(255, 0, 0, 0.143);
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }

  .form-remember-cb {
    margin-bottom: 1em;
  }
