/* You can add global styles to this file, and also import other style files */
// Plus imports for other components in your app.
@import './styles/themes.scss';
@import './styles/icons.scss';
@import './styles/material-overrides.scss';
@import './styles/active-router-link.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
