<!-- <p>user works!</p> -->

<div class="user-container">
  <mat-card>
    <mat-card-header class="header" [routerLink]="['/users', user.username]">
      <img mat-card-avatar [src]="user.avatar" />
      <mat-card-title>
        {{ user.username }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions
      class="buttons"
      *ngIf="(loggedUser$ | async).username !== user.username"
    >
      <button mat-button *ngIf="!user.isFollow" (click)="toggleFollowing()">
        Follow
      </button>
      <button
        mat-button
        color="warn"
        *ngIf="user.isFollow"
        (click)="toggleFollowing()"
      >
        Unfollow
      </button>
    </mat-card-actions>
  </mat-card>
</div>
