<div class="auth-container" [ngStyle.lt-sm]="{ margin: '10px 0' }">
  <nav mat-tab-nav-bar mat-stretch-tabs>
    <a
      mat-tab-link
      *ngFor="let component of authComponents"
      [routerLink]="component.link"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      {{ component.label }}
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>
