<div class="create-comment-container">
  <form
    [formGroup]="commentForm"
    class="comment-form"
    (ngSubmit)="this.createComment(this.commentForm.value)"
  >
    <div class="comment-content" gdAreas="input submit" gdColumns="90%">
      <mat-form-field
        [hintLabel]="input.value?.length ? 'Max 1000 characters' : ''"
        class="content-wrapper"
      >
        <textarea
          class="comment-content-field"
          formControlName="content"
          #input
          matInput
          maxlength="1000"
          type="text"
          placeholder="Write comment..."
          (keyup.enter)="createComment(this.commentForm.value)"
        ></textarea>
        <mat-hint *ngIf="input.value?.length" align="end"
          >{{ input.value?.length || 0 }}/1000</mat-hint
        >
      </mat-form-field>
      <div class="form-submit-btn">
        <button
          #submitButton
          mat-icon-button
          color="primary"
          class="create-comment-button"
          type="submit"
          [disabled]="commentForm.invalid"
        >
          <i class="material-icons">note_add</i>
        </button>
      </div>
    </div>
  </form>
</div>
