.card-content-container > button {
  min-width: 160px;
  margin: 2px 0;
  display: flex;
}

.card-content-container > button * {
  margin-right: 5px;
}

.card-content-container-sm {
  width: 100%;
  min-width: 0 !important;
  overflow: hidden;
}

.profile-details-container {
  padding: 0 5px;
}
