<div class="profile-details-container">
  <mat-card class="profile-details-card">
    <img
      mat-card-image
      [src]="user.avatar"
      [alt]="'Avatar of ' + user.username"
      [routerLink]="['/users', user.username]"
      style="cursor: pointer;"
    />
    <mat-card-title
      [routerLink]="['/users', user.username]"
      style="cursor: pointer;"
      >{{ user.username }}</mat-card-title
    >
    <mat-card-content>
      <div class="card-content-container">
        <button
          mat-stroked-button
          [routerLink]="['/users', user.username, 'posts']"
          ngClass.sm="card-content-container-sm"
        >
          <mat-icon>
            collections
          </mat-icon>
          <span fxShow.gt-xs>Posts: {{ user.postsCount }}</span>
        </button>
        <button
          mat-stroked-button
          [routerLink]="['/users', user.username, 'followers']"
          ngClass.sm="card-content-container-sm"
        >
          <mat-icon>people</mat-icon>
          <span fxShow.gt-xs> Followers: {{ user.followersCount }} </span>
        </button>
        <button
          mat-stroked-button
          [routerLink]="['/users', user.username, 'following']"
          ngClass.sm="card-content-container-sm"
        >
          <mat-icon>people</mat-icon>
          <span fxShow.gt-xs>Following: {{ user.followingCount }}</span>
        </button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-stroked-button
        *ngIf="!owner && !(followedByLoggedUser | async)"
        (click)="follow()"
      >
        Follow
      </button>
      <button
        mat-stroked-button
        *ngIf="!owner && followedByLoggedUser | async"
        (click)="unfollow()"
      >
        Unfollow
      </button>
      <button
        mat-stroked-button
        *ngIf="owner"
        [routerLink]="['/users', user.username, 'create-post']"
        fxHide.gt-xs
      >
        <mat-icon>
          create
        </mat-icon>
      </button>
      <button
        mat-stroked-button
        *ngIf="owner"
        [routerLink]="['/users', user.username, 'notifications']"
        fxHide.gt-xs
      >
        <mat-icon>
          notifications
        </mat-icon>
      </button>
      <button
        mat-stroked-button
        *ngIf="owner"
        [routerLink]="['/users', user.username, 'settings']"
      >
        <mat-icon>settings</mat-icon>
        <span class="profile-details-actions" fxHide.lt-sm>
          Settings
        </span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
