.create-post-container {
  width: 80%;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  background: rgba(0, 0, 0, 0.03);
  padding: 10px;
}

.loading-overlay {
  position: relative;
}

.loading-overlay:after {
  content: '';
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease-in;
}

.create-post-title {
  margin: 10px;
}

.post-description {
  display: block;
  width: 100%;
}

.post-description > * {
  resize: none;
}

.privacy-radio {
  margin-right: 10px;
}

.upload-image-container {
  border: 2px dashed rgba(0, 0, 0, 0.24);
  padding: 80px 20px;
}

.image-cropper-container {
  border: 2px dashed rgba(0, 0, 0, 0.24);
}

.card-image-container {
  position: relative;
  width: 100%;
}

.post-loading-spinner-container {
  position: absolute;
  top: -webkit-calc(50% - 50px);
  left: -webkit-calc(50% - 50px);
  z-index: 999;
}

.upload-drop-content {
  text-align: center;
}

.card-image-container {
  border: 1px solid rgba(0, 0, 0, 0.24);
  // position: relative;
}

.card-image-container img {
  width: 100%;
  height: 100%;
}

.upload-icon {
  display: block;
  margin: auto;
  transform: scale(3);
  margin-bottom: 1em;
}

.upload-image-button {
  display: block;
  margin: auto;
}

.post-container {
  margin-bottom: 20px;
}

.mat-card-actions-wrapper {
  margin: 10px;
}

.mat-header-container {
  margin: 10px 0;
}

.cropper-crop-box {
  background-color: white;
}

// .image-container {
//   position: relative;
//   width: 100%;
// }

.image-container {
  cursor: pointer;
}
