<div class="create-post-container" [ngClass]="{ 'loading-overlay': loading }">
  <h3 class="create-post-title">
    Create post
  </h3>
  <form [formGroup]="createPostForm" gdAuto="row" gdGap="10px">
    <div class="post-loading-spinner-container" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
    <mat-form-field appearance="outline" class="post-description">
      <mat-label>Post description</mat-label>
      <textarea
        matInput
        placeholder="Post description"
        rows="3"
        formControlName="description"
        style="resize: none;"
      ></textarea>
      <mat-error *ngIf="createPostForm.controls['description'].errors">
        Description is required</mat-error
      >
    </mat-form-field>

    <mat-radio-group aria-label="Post privacy" formControlName="privacy">
      <mat-radio-button value="true" class="privacy-radio" checked>
        Public
      </mat-radio-button>
      <mat-radio-button value="false" class="privacy-radio">
        Private
      </mat-radio-button>
    </mat-radio-group>

    <div class="image-container">
      <div
        class="upload-image-container"
        (click)="fileInput.click()"
        *ngIf="!imageCropperFile"
      >
        <mat-icon class="upload-icon">cloud_upload</mat-icon>
        <button mat-raised-button class="upload-image-button">
          Upload image
        </button>
        <p class="upload-drop-content">
          Drag and drop image (2MB / .jpg, .jpeg, .png allowed)
        </p>
        <p class="upload-drop-content">
          <mat-error *ngFor="let error of createPostForm.errors">
            {{ error.message }}
          </mat-error>
        </p>
      </div>
      <div class="image-cropper-container" *ngIf="imageCropperFile">
        <mat-card>
          <div class="mat-header-container" style="cursor: pointer;">
            <mat-card-header>
              <img mat-card-avatar [src]="(loggedUser | async).avatar" />
              <mat-card-title>
                {{ (loggedUser | async).username }}
              </mat-card-title>
              <button mat-raised-button (click)="fileInput.click()">
                <mat-icon>
                  cloud_upload
                </mat-icon>
                Change file
              </button>
            </mat-card-header>
          </div>
          <div class="mat-card-content-wrapper">
            <mat-card-content>
              {{ createPostForm.controls['description'].value }}
            </mat-card-content>
          </div>
          <div class="card-image-container">
            <angular-cropper
              #angularCropper
              [cropperOptions]="cropperConfig"
              [imageUrl]="imageCropperUrl"
            ></angular-cropper>
          </div>
          <div class="mat-card-actions-wrapper">
            <mat-card-actions>
              <button mat-button>
                <mat-icon>
                  favorite
                </mat-icon>
                <span fxHide.xs>
                  Like
                </span>
              </button>

              <button mat-button>
                <mat-icon>
                  chat
                </mat-icon>
                <span fxHide.xs>
                  Comments
                </span>
              </button>
            </mat-card-actions>
          </div>
        </mat-card>
      </div>
      <input
        hidden
        type="file"
        #fileInput
        (change)="uploadedImage($event.target.files[0])"
      />
    </div>

    <button
      mat-raised-button
      (click)="createPost()"
      [disabled]="!createPostForm.valid"
    >
      Post
    </button>
  </form>
</div>
