<div
  infiniteScroll
  [infiniteScrollDistance]="infiniteScrollDistance"
  [infiniteScrollThrottle]="infiniteScrollThrottle"
  alwaysCallback="false"
  (scrolled)="onScroll()"
  class="posts-list-container"
>
  <!-- ngStyle.lt-md="margin: 0 30px;" -->
  <div class="post-container" *ngFor="let post of posts">
    <app-post [post]="post" (openDialog)="openDialog($event)"></app-post>
  </div>

  <div class="post-list-spinner" *ngIf="!postEnd">
    <mat-spinner></mat-spinner>
  </div>
  <div class="post-list-bottom" *ngIf="postEnd && !loading">
    no more posts
  </div>
</div>
